{% extends 'lmn/base.html' %}
{% block content %}
{% load social_share %}


<h2 id="artists-at-venue-title">Artists that have played at {{ venue.name }}</h2>

{% for show in shows %}

<div class="show" id="show_{{ show.pk }}">
  <p>{{ show.artist.name}} on {{ show.show_date }}.
    <a href="{% url 'notes_for_show' show_pk=show.pk %}">See notes for this show, and add your own</a>
  </p>
</div>

<button class="share-button">
  {% post_to_twitter "Checkout: {{ artist.name }}" object_or_url "Twitter" %}
</button>

<button class="share-button">
  {% post_to_reddit "Checkout: {{ artist.name }}" object_or_url "Reddit" %}
</button>

<button class="share-button">
  {% post_to_facebook object_or_url "Facebook" %}
</button>

{% empty %}

  <p id="no-results">We have no records of shows at this venue</p>

{% endfor %}



{% endblock %}
